[TEMPLATE]
# Service: ingress
LOG_LEVEL=INFO
GRPC_PORT=50051
HTTP_PORT=8000
# Required to emit encrypted system events; generate with Fernet.generate_key().
SYSTEM_LOG_KEY=
SYSTEM_LOG_SALT=veripay-ingress
